*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #1E0606;
}

*::after,
*::before{
	box-sizing: border-box;
}

body{
	margin: 0px;
}

a{
	text-decoration: none;
}

button{
	border: none;
	cursor: pointer;
}

.button{
	color: #FFFFFF;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	background: #000000;
	padding: 9px 22px;
	font-weight: bold;
}

.button:hover{
	background: #C29974;
}

.button:active{
	background: #CFAF91;
}

.button:disabled{
	background: #C7C1C1;
}

.container{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 110px;
}

.undotted{
	list-style-type: none;
}

.shadow{
	width: 0;
	height: 0;
	font-size: 0;
}

.header{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	align-items: center;
	margin: 50px 0 60px 0;
}

.header__logo{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__nav{
	margin: 0 auto 0 60px;
}

.header__links{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	align-items: center;
}

.header__item{
	margin: 0 20px 0 0;
}

.header__item a{
	text-transform: uppercase;
	font-size: 14px;
	line-height: 19px;
}

.header__search{
	width: 24px;
	height: 24px;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
}

.header__contact{
	margin: 0 0 0 20px;
	font-size: 14px;
	line-height: 19px;
	font-weight: bold;
  text-transform: uppercase;
	background: none;
	word-spacing: 3px;
}

a.header__logo:hover,
.header__item a:hover,
.header__search:hover,
a.header__contact:hover{
	opacity: 0.5;
}

a.header__logo:active,
.header__item a:active,
.header__search:active,
a.header__contact:active{
	opacity: 0.2;
}

.products__item{
	width: 280px;
	height: 270px;
	text-align: center;
}

.products__item a{
	height: 100%;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.products__item h3{
	font-size: 26px;
	line-height: 32px;
	text-transform: uppercase;
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	max-width: 192px;
	text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.products__item a:hover h3{
	text-decoration: underline;
}

.products__item_1{
	background: #DBE4DB;
	background-image: url(../img/products_bg_1.jpg);
}

.products__item_2{
	background: #EADDD3;
	background-image: url(../img/products_bg_2.jpg);
}

.products__item_3{
	background: #F8F2DA;
	background-image: url(../img/products_bg_3.jpg);
}

.products__item_4{
	background: #D5D4E1;
	background-image: url(../img/products_bg_4.jpg);
}

.products__item_5{
	background: #F3D0DB;
	background-image: url(../img/products_bg_5.jpg);
}

.products__item_6{
	background: #E5EAF8;
	background-image: url(../img/products_bg_6.jpg);
}

.footer{
	background:#434343;
	padding: 100px 0;
}

.footer__upper{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	border-bottom: #666666 solid 1px;
	padding: 0 0 28px 0;
	margin: 0 0 23px 0;
}

.footer__column{
	margin: 0 20px 0 0;
	width: 33.333%;
}

.footer__column:last-child{
	margin: 0;
}

.footer__column h3{
	font-size: 16px;
	line-height: 22px;
	color: #AAAAAA;
	padding: 0 0 23px 0;
	margin: 0 0 28px 0;
	border-bottom: #666666 solid 1px;
}

.footer__column:last-child h3{
	margin: 0 0 25px 0;
}

.footer__links li{
	margin: 0 0 15px 0;
}

.footer__links li:last-child{
	margin: 0;
}

.footer__column a{
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
}

.footer__column a:hover{
	opacity: 0.5;
}

.footer__column a:active{
	opacity: 0.2;
}

.footer__form{
	margin: 0 0 25px 0;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	align-items: center;
}

.footer__form input{
	height: 40px;
	flex-grow: 1;
	padding: 9px 0 9px 15px;
	border: none;
	font-size: 16px;
	line-height: 22px;
	background: #666666;
	color: #EBEBEB;
	outline: none;

}

.footer__form input::placeholder{
	font-size: 16px;
	line-height: 22px;
	color: #EBEBEB;
}

.footer__form input:hover,
.footer__form input:focus{
	box-sizing: border-box;
	border: 1px solid #FFFDFD;
	border-right: none;
	padding-left: 14px;
}

.footer__media{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	align-items: center;
}

.footer__media a{
	margin: 0 10px 0 0;
}

.footer__lower{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	align-items: center;
}

.footer__rating{
	margin: 0 25px 0 0;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
}

.footer__lower ul{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
	margin: 0 0 0 2px;
}

.footer__lower li{
	padding: 2px 6px 0 0 ;
}

.footer__lower li:first-child{
	padding: 2px 0 0 0;
}

.footer__lower button{
	background: none;
}

.footer__copyright{
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
}

.footer__lower a{
	font-size: 16px;
	line-height: 22px;
	color: #A2A2A2;
}

.footer__lower a:hover{
	text-decoration-line: underline;
	color: #FFFFFF;
}

.footer__column_rate{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
}

.footer__column_rate li:hover path,
.footer__column_rate li:hover ~ li path{
	fill: #836E5B;
}

.footer__column_rate li:active path,
.footer__column_rate li:active ~ li path{
	fill: #C29974;
}

.footer__column_rate ul:hover + p{
	color: #C29974;
}

.form{
	width: 680px;
	padding: 42px 40px;
	background: #E5EAF8;
}

.form__item{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 0 20px 0;
}

.form__item label{
	font-size: 14px;
	line-height: 19px;
	margin: 0 0 3px 0;
}

.form__item input{
	height: 50px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px 20px;
	font-size: 18px;
	line-height: 25px;
	outline: none;
}

.form__item input::placeholder{
	font-size: 18px;
	line-height: 25px;
	font-size: 18px;
	color: #1E0606;
}

.form__item textarea{
	resize: none;
	border: 1px solid #CCCCCC;
	height: 150px;
	padding: 15px 20px;
	font-size: 18px;
	line-height: 25px;
	outline: none;
}

.form__item input:hover,
.form__item input:focus,
.form__item textarea:hover,
.form__item textarea:focus{
	border: 1px solid #C29974;
}

.form__item input:disabled,
.form__item textarea:disabled{
	border: 1px solid #EBEBEB;
	background: #FFFFFF;
}

.form__data{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
}

.form__phone{
	margin: 0 20px 0 0;
}

.form__check{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	align-items: center;
	margin: 0 0 17px 0;
}

.form__check label{
	font-size: 14px;
	line-height: 19px;
	color: #1E0606;
}

.checkbox-label:hover,
.radio-label:hover{
	text-decoration: underline;
}

input[type=checkbox],
input[type=radio]{
	display: none;
}

.checkbox-label,
.radio-label{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	align-items: center;
	position: relative;
}

.radio-label::before{
	content: "";
	width: 20px;
	height: 20px;
	display: block;
	border: 2px solid #C29974;
	border-radius: 50%;
	margin: 0 15px 0 0;
}

.radio-label::after{
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	background: #C29974;
	border-radius: 50%;
	top: 5px;
	left: 4px;
	opacity: 0;
}

.checkbox-label::before{
	content: "";
	width: 19px;
	height: 19px;
	display: block;
	border: 2px solid #C29974;
	border-radius: 3px;
	margin: 0 15px 0 0;
}

.checkbox-label::after{
	content: url(../img/check_1.svg);
	position: absolute;
	top: 0;
	left: 3px;
	opacity: 0;
}

.checkbox-input:checked + .checkbox-label::after,
.radio-input:checked + .radio-label::after{
	opacity: 1;
}

.checkbox-input:disabled + .checkbox-label,
.radio-input:disabled + .radio-label{
	color: #907484;
}

.checkbox-input:disabled + .checkbox-label::before,
.radio-input:disabled + .radio-label::before{
	border: 2px solid #E2CDBA;
}

.checkbox-input:disabled + .checkbox-label:hover,
.radio-input:disabled + .radio-label:hover{
	text-decoration: none;
}

.breadcrumbs{
	margin: 0 0 50px 0;
}

.breadcrumbs h1{
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: bold;
	font-size: 40px;
	line-height: 49px;
	text-transform: uppercase;
	margin: 0 0 17px 0;
}

.breadcrumbs__links{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	align-items: center;
}

.breadcrumbs__links a{
	font-family: "Crimson Text", "Arial", sans-serif;
	font-style: italic;
	font-size: 20px;
	line-height: 25px;
}

.breadcrumbs__link::after{
	content: url(../img/bc.svg);
	width: 8px;
	height: 12px;
	margin: 0 26px 0 17px;
}

.breadcrumbs__links span{
	font-family: "Crimson Text", "Arial", sans-serif;
	font-style: italic;
	font-size: 20px;
	line-height: 25px;
	opacity: 0.5;
}

.pagination{
	margin: 0 0 55px 0;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
}

.pagination__numbers{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination__back{
	background-image: url(../img/back.svg);
	margin: 0 auto 0 0;
	width: 18px;
	height: 32px;
}

.pagination__forward{
	background-image: url(../img/forward.svg);
	margin: 0 0 0 auto;
	width: 18px;
	height: 32px;
}

.pagination__back:hover{
	background-image: url(../img/back_h.svg);
}

.pagination__forward:hover{
	background-image: url(../img/forward_h.svg);
}

.pagination__back:active{
	background-image: url(../img/back_a.svg);
}

.pagination__forward:active{
	background-image: url(../img/forward_a.svg);
}

.pagination__num{
	margin: 0 66px 0 0;
}

.pagination__num a{
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
}

.pagination__num_active a{
	color: #C29973;
}

.pagination__num a:hover{
	color: #AAAAA1;;
}

.pagination__num:last-child{
	margin: 0;
}